/* 
--> Styles applying to ex01.html
*	{
	margin:0;
	padding: 0;
}
body	{
	padding: 10px;
}
.header	{
	background-color: blanchedalmond;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 10px;
}
.left-links, .right-links	{
	margin-left: 10px;
	margin-right: 10px;
}
.left-links	{
	margin-right: auto;
}
.right-links	{
	margin-left: auto;
}
#logo	{
	background-color: white;
	font-size: 30px;
	font-weight: 900;
	padding: 10px;
}
#logo a	{
	color: red;
}

ul	{
	list-style: none;
}
ul li	{
	display: inline;
}
a	{
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px;
	margin-right: 5px;
	background-color: white;
} 
end of styles for ex01.html
*/

/* styles for ex02.html 

Layout <-- comment this out!

*	{
	margin:  0;
	padding: 0;
}
body	{
	background-color: rgba(176, 176, 176, 0.448);
}
nav	{
	display: flex;
	align-items: center;
	padding: 0 10px;
}
ul li	{
	display: inline;
	margin-right: 5px;
}
button	{
	padding: 8px;
	margin-right: 10px;
	border-radius: 10%;
	border: none;
}
#left-nav	{
	margin-right: auto;
}
#profile-img	{
	height: 40px;
	width: 40px;
	border-radius: 48%;
	background-color: purple;
}
#logo	{
	margin-right: 10px;
	font-size: 30px;
	font-weight: 900;
}
#header	{
	background-color: white;
	height: 80px;
}

Typography <-- comment this out!

a	{
	text-decoration: none;
	color: purple;
}
button	{
	background-color: purple;
	color: white;
}
ul	{
	list-style: none;
} */

/* CSS for ex03.html */

*	{
	margin:  0;
	padding: 0;
}
body	{
	background-color: white;
}
h1	{
	text-align: center;
}
img	{
	height: 100px;
	width: 100px;
}
.media	{
	margin-top: 32px;
	display: flex;
	justify-content: center;
	/* gap: 10%; */
	column-gap: 52px;
}
.image-with-text	{
	text-align: center;
	max-width: 200px;
}
.image-with-text img	{
	display: block;
	margin: 0 auto;
}

